[Unit]
Description=isuride-go
After=syslog.target
After=mysql.service
Requires=mysql.service

[Service]
LimitNOFILE=1006500
LimitNPROC=1006500
WorkingDirectory=/home/isucon/repo/go
EnvironmentFile=/home/isucon/repo/s1/env.sh

User=isucon
Group=isucon
ExecStart=/home/isucon/repo/go/isuride
ExecStop=/bin/kill -s QUIT $MAINPID

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
